@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Merriweather:wght@300&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Black.ttf);
}
body {
    width: 80%;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

li {
    list-style: none;
    display: inline-block;
}

img:hover {
    box-shadow: 1px 1px 5px #ccc;
}

h1, h2, h3 {
    font-size: 3.5rem;
    margin: 5% 0;
}

p {
    line-height: 30px;
    font-size: 1.5rem;
    margin-bottom: 10%;
}

header ul {
    text-align: right;
    margin-top: 1em;
}

header li {
    margin-right: 3%;
}

header a {
    color: #000;
}

section:nth-of-type(1n +4) {
    text-align: center;
}

section:nth-of-type(1) {
    background: url(../img/illustration1.gif) no-repeat right/contain;
    margin-bottom: 0%;
}

section:nth-of-type(odd) article {
    width: 55%;
    padding: 20% 0 0 10%;
}

section:nth-of-type(1) a:nth-of-type(1) {
    background: #000;
    border: 1px solid;
    color: #fff;
    padding: 1.9% 3.5%;
}

section:nth-of-type(1) a:nth-of-type(2) {
    border: 1px solid;
    padding: 1.8% 3.5%;
}

section:nth-of-type(2) {
    background: url(../img/illustration2.png) no-repeat left/contain;
    margin: 10% 5% 0 10%;
}

section:nth-of-type(2) article {
    width: 45%;
    margin-left: 56%;
    padding-top: 10%;
}

section:nth-of-type(3) {
    background: url(../img/illustration3.png)no-repeat right/contain;
    margin-top: 10%;
}

section:nth-of-type(4) {
    text-align: center;
    margin-top: 25%;
}

section:nth-of-type(4) p {
    width: 64%;
    margin: 0 auto 5% auto;
}

section:nth-of-type(4) img {
    width: 25%;
    margin: 2 auto 20 auto;

}

section:nth-of-type(5) p {
    width: 45%;
    margin: 0 auto 9% auto;
}

section:nth-of-type(5) article {
    width: 90vw;
    margin: 5% auto;
    padding: 0;
}

section:nth-of-type(5) img {
    width: 20%;
    margin-right: 10%;
}

section:nth-of-type(6)>p {
    width: 45%;
    margin: 0 auto 5% auto;
}

section:nth-of-type(6) article {
    width: 22%;
    height: 40vh;
    text-align: center;
    margin: 0 auto;
    background: rgb(199, 235, 235);
    border-radius: 10px;
}

section:nth-of-type(6) article p:nth-of-type(1) {
    padding-top: 10%;
}

section:nth-of-type(6) article p:nth-of-type(2) {
    font-size: .9rem;
    color: #ccc;
}

section:nth-of-type(6) article li {
    padding-bottom: 4%;
    display: block;
}

section:nth-of-type(6) article li:last-of-type {
    margin-bottom: 10%;
}

section:nth-of-type(6) article a {
    background: rgb(93, 236, 255);
    color: #fff;
    border-radius: 5px;
    padding: 4% 11%;
}

footer {
    text-align: center;
}

footer p {
    margin-bottom: 3%;
}

footer li {
    padding: 3%;
}

footer li a {
    font-size: 1.5rem;
}

footer nav ul li a {
    color: darkblue
    ;
}

footer nav ul li:nth-of-type(2) a {
    color: deeppink;
}

footer nav ul li:nth-of-type(3) a {
    color: rgb(0, 174, 235);
}

footer nav ul li:nth-of-type(4) a {
    color: rgb(19, 0, 0);
}